/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	font: 17px/24px 'Roboto', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #262626;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

#wrapper {
	position: relative;
	overflow: hidden;
	background: #fafafa;
} 

.container {
	max-width: 936px;
	margin: 0 auto;
	padding: 0 15px;
}

#header {
	margin: 0 0 20px;
	padding: 12px 0 6px;
	border-bottom: 1px solid #edeeee;
	background: #fff;
}

.registration {
	text-align: right;
}

#header .btn {
	display: inline-block;
	margin: 5px 0 0 0;
	padding: 8px 35px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	background: #4090db;
    border: 1px solid transparent;
    border-radius: 13px;
    transition: 0.3s;
}

#header .btn:hover {
	background: #fff;
	border: 1px solid #4090db;
	color: #4090db;
}
/*-----------------header----------------*/

section.project {
	padding: 10px 0 20px;
}

.name-project .heading {
	margin: 0 0 10px;
}

.name-project .name {
	display: block;
	margin: 0 0 10px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #262626;
}

.name-project .start {
	display: block;
	padding: 5px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	color: #4090db;
	text-align: center;
	border: 1px solid #4090db;
	border-radius: 3px;
}

.name-project .statistic span {
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	color: #3d4044;
}

.name-project .statistic b {
	display: inline-block;
    margin: 0 3px 5px 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
}

.status .table-responsive {
	border-radius: 3px;
}

.table .form-group {
	margin: 0;
	max-width: 185px;
    min-width: 125px;
}

.table .glyphicon.glyphicon-upload {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

section.status {
	margin: 0 0 20px;
}

section.status h1 {
	margin: 0 0 10px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
}

.table thead,
.table tbody tr td:first-child {
	font-size: 14px;
	font-weight: 500;
}

.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

section.foto .img-block {
	position: relative;
	max-width: 292px;
    margin: 0 auto 15px;
}

section.foto .img-block:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	transition: 0.3s;
}

section.foto .img-block:hover:after {
	opacity: 1;
}

section.foto .img-block .img-holder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: 0.3s;
}

section.foto .img-block:hover .img-holder {
	opacity: 1;
}

.foto .img-block span.video {
	content:'';
	position: absolute;
	top: 15px;
	right: 11px;
	width: 38px;
	height: 30px;
	background: url(../images/video.png) no-repeat;
}

.foto .img-block .description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 125px 30px 13px;
	color: #fff;
	z-index: 50;
}

.description .day,
.description .data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.description .day {
	margin: 0 0 20px;
}

.description .data {
	margin: 0 0 55px;
}

.description .day span:first-child,
.description .data span:first-child {
	min-width: 90px; 
}

.description .upload {
	display: block;
	max-width: 200px;
	margin: 0 auto;	
}
.foto .row:last-child {
	margin: 15px 0 30px;
}

.foto .btn {
	display: block;
	max-width: 130px;
	margin: 0 auto;
	padding: 6px 30px;
	border: 1px solid #000;
	border-radius: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	color: #000;
	transition: 0.3s;
}
.foto .btn:hover {
	background: #000;
	color: #fff;
}





@media (min-width: 321px) {
	#header .btn {
		margin: 13px 0 0 0;
	}

	.name-project .statistic span {
		display: inline-block;
		margin: 0 10px 0 0;
	}
}

@media (min-width: 768px) {
	#header {
		margin: 0;
	}

	.name-project {
		padding: 50px 0;
	}

	.name-project .name {
    	display: inline-block;
    	vertical-align: top;
    	margin: 0 20px 0 0;
    	font-size: 35px;
    	line-height: 37px;
    }

	.name-project .start {
    	display: inline-block;
    	vertical-align: top;
    	padding: 10px;
    	font-size: 15px;
    	line-height: 17px;
    }

    .name-project .statistic span {
    	font-size: 17px;
    	line-height: 24px;
    }

    section.status {
		margin: 0;
	}

    .status .table-responsive {
    	margin: 0 0 50px;
    	border: 1px solid #ddd;
    }

    .table thead,
	.table tbody tr td:first-child {
    	font-size: 17px;
    	line-height: 24px;
    }

    section.foto .img-block {
	    margin: 0 auto 30px;
	}

    .foto .row:last-child {
		margin: 85px 0 90px;
	}
}


